aiodns==3.6.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-cors==0.8.1
aiosignal==1.4.0
altgraph==0.17.5
anyio==4.12.1
appdirs==1.4.4
argcomplete==3.6.3
asgiref==3.11.1
astroid==4.0.2
asttokens==3.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
bitarray==3.8.0
bitstring==4.3.1
blinker==1.9.0
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.42.74
botocore==1.42.74
Brlapi==0.8.7
Brotli==1.2.0
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
cockpit @ file:///builddir/build/BUILD/cockpit-358-build/cockpit-358/tmp/wheel/cockpit-358-py3-none-any.whl#sha256=f71feeca36dc7d5a2e40b1b62dd015b14ab911c738e799fa2eade9c537009e90
crypt_r==3.13.1
cryptography==46.0.3
cssselect==1.3.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
dill==0.4.0
distro==1.9.0
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
dnf==4.24.0
docutils==0.22.3
esptool==5.1.0
et_xmlfile==2.0.0
fedora-third-party==0.10
file-magic==0.4.0
Flask==3.1.2
flask-cors==6.0.2
# Editable install with no version control (frappe-bench==5.0.0.dev0)
-e /home/shettiarachchi/erpnext/bench
frozenlist==1.8.0
gbinder-python==1.3.0
gitdb==4.0.12
GitPython==3.1.45
gns3-gui==2.2.56.1
gns3-server==2.2.56.1
h11==0.16.0
honcho==2.0.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.13.0
idna==3.10
initial-setup==0.3.101
inkex==1.4.0
intelhex==2.3.0
iso639==0.1.4
isort==7.0.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langtable==0.0.69
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
librt==0.6.3
libvirt-python==11.6.0
louis==3.33.0
lxml==6.0.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
multidict==6.6.4
mypy==1.19.0
mypy_extensions==1.1.0
nftables==0.1
numpy==2.3.5
olefile==0.47
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathspec==0.12.1
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
platformdirs==4.5.0
ply==3.11
podman-compose==1.5.0
productmd==1.50
propcache==0.4.1
psutil==7.0.0
ptyprocess==0.7.0
pwquality==1.4.5
py-cpuinfo==9.0.0
PyAudio==0.2.13
pycairo==1.28.0
pycares==4.10.0
pycparser==2.22
pycups==2.0.4
pyenchant==3.2.2
pygdbmi==0.11.0.0
Pygments==2.19.2
PyGObject==3.54.5
pyinotify==0.9.6
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.1
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
pylint==4.0.4
pyparsing==3.1.2
pyparted==3.13.0
PyQt5==5.15.12.dev2507081429
PyQt5_sip==12.17.1
PyQt6==6.10.2
PyQt6_sip==13.10.2
pyserial==3.5
PySocks==1.7.1
python-augeas==1.2.0
python-crontab==2.6.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
python-linux-procfs==0.7.3
python-meh==0.52
pytz==2025.2
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
RapidFuzz==3.12.2
reedsolo==1.7.0
referencing==0.36.2
regex==2026.2.28
reportlab==4.4.9
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
rich==14.2.0
rich-click==1.9.4
rpds-py==0.27.0
rpm==6.0.1
s3transfer==0.16.0
scour==0.38.2
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
semantic-version==2.10.0
Send2Trash==1.8.3
sentry-sdk==2.35.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.36-build/setroubleshoot-3.3.36/src
setuptools==78.1.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sos==4.11.0
soupsieve==2.8
sqlparse==0.5.5
systemd-python==235
thonny==4.1.7
tinycss2==1.5.1
tomlkit==0.13.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uv==0.9.16
webencodings==0.5.1
Werkzeug==3.1.5
wheel==0.45.1
xkbregistry==0.3
yarl==1.22.0
