{% extends "base.html" %}

{% block content %}

<h3 class="mb-3">Add Course</h3>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<form method="POST">

    <div class="mb-3">
        <label>Course Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Duration</label>
        <input type="text" name="duration" class="form-control">
    </div>

    <div class="mb-3">
        <label>Fee</label>
        <input type="number" name="fee" class="form-control">
    </div>

    <button class="btn btn-success">Save</button>
    <a href="{{ url_for('courses.list_courses') }}" class="btn btn-secondary">Cancel</a>

</form>

{% endblock %}
