{% extends "base.html" %}

{% block content %}

<h3 class="mb-3">Edit Student</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<form method="POST">

    <div class="mb-3">
        <label>Name</label>
        <input name="name" value="{{ student.name }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input name="email" value="{{ student.email }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input name="phone" value="{{ student.phone }}" class="form-control">
    </div>

    <button class="btn btn-primary">Update</button>
    <a href="{{ url_for('students.list_students') }}" class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}
