{% extends "public_base.html" %}

{% block content %}

<!-- HERO -->
<div class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1>Contact Us</h1>
        <p class="lead">We’d love to hear from you</p>
    </div>
</div>

<!-- CONTACT FORM -->
<div class="container mt-5">

    <div class="row">

        <!-- FORM -->
        <div class="col-md-6">

            <form method="POST">

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input name="name" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Message</label>
                    <textarea name="message" class="form-control" rows="4" required></textarea>
                </div>

                <button class="btn btn-primary w-100">
                    Send Message
                </button>

            </form>

        </div>

        <!-- INFO -->
        <div class="col-md-6">

            <div class="card p-4">

                <h5>📍 Address</h5>
                <p class="text-muted">MIT Training Center, Sri Lanka</p>

                <h5>📞 Phone</h5>
                <p class="text-muted">+94 773051133 | +94 011 2226361 </p>

                <h5>📧 Email</h5>
                <p class="text-muted">info@mittraining.lk</p>

            </div>

        </div>

    </div>

</div>

{% endblock %}
